<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DBDTHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Santu-Jana\DBDT_API\env\Scripts\python.exe|D:\Santu-Jana\DBDT_API\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
